*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: white;
}

#encabezado{
    display: flex;
    justify-content: space-between;
}

#logo{
    display: flex;
    width: 100%;
    align-items: center;
}

#logo h1 {
    margin-left: 10px;
}

#menu {
    margin-top: 10px;
}

#menu ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#menu ul li a{
    text-decoration: none;
    padding: 10px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}

#menu ul li a:hover{
    color: rgb(197, 197, 197);
}

#slide {
    width: 100%;
    background-color: rgb(30, 31, 133);
    color: white;
    height: 250px;
    padding-top: 8%;
    font-size: 20px;
    text-align: center;
    margin-bottom: 0px;
}

#container{
    width: 90%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.subheader{
    height: 150px;
    text-align: center;
}

.subheaderv{
    height: 150px;
    text-align: center;
    padding-top: 110px;
}

.subheader h1{
    font-size: 30px;
    line-height: 140px;
}

.row {
    display: grid;
    gap: 10rem;
    grid-template-rows: 20rem;
    grid-template-columns: repeat(auto-fill, minmax(min(300px, 17rem), 1fr));
}
    
.row img, iframe {
    height: 200px;
    width: 200px;
}